{% extends "base.html" %}

{% block content %}
{%- set rel_attributes = macros_rel_attributes::rel_attributes() | trim -%}
<h1>404</h1>

<p>The requested page could not be found.{% if config.extra.issues_url %} If you feel this is not normal, then you can create an issue on the issue tracker.{% endif %}</p>

<div class="buttons">
	<a href="{{ get_url(path='/', lang=lang) }}">Go Home</a>
	{%- if config.extra.issues_url %}
		<a class="colored external" href="{{ config.extra.issues_url }}" rel="{{ rel_attributes }}">File an Issue</a>
	{%- endif %}
</div>
{% endblock content %}
